/** General **/
/* Page Level */
*{font-family:helvetica;}
body{background-color:#fff;padding-bottom:60px;min-height:868px;}
h4{border-top:solid #000 3px;color:#f00;}
h3 a{color:#000;}
a{}
strong{color:#f00;}

/* Logo */
#logo{background:url(/img/logo_red.png) top left no-repeat;}

/* Nav */
#navigation a{color:#000;}
#navigation {background-color:#fff;filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75;}

/* Header */
#header{background:url(/img/header_bg.jpg) left top no-repeat;}
#header h1, #header h2{display:none;}

/* Footer */
#footer{position:absolute;bottom:10px;left:0px;right:0px;}
#footer div{border-top:solid #000 3px;font-weight:bold;text-align:right;margin:0 10px}

/* Resume */
#container h2{color:#f00;}
#tagList{display:none;}

/* vCard */
.vcard .dataType{display:none;}
.vcard{background-color:#fff;filter:alpha(opacity=75);-moz-opacity:.75;opacity:.75;font-weight:bold;padding:5px;padding-top:7px;border:dotted #444 1px;}

/* Blog */
#_sidebar #sidebar ul li{list-style-type:none;}